* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* BACKGROUND */
.bg {
  width: 100%;
  height: 100vh;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* TOP */
.top-row {
  background-color: #000;
  height: 85px;
  display: flex;
  align-items: center;
}

.top-col {
  margin-left: 10%;
}

/* BOOKS BOARD */
.table {
  max-height: 65vh;
  width: 90%;
  position: relative;
  margin: 5% auto;
}

.dropdown-menu {
  text-align: center;
}

.dropdown-menu a {
  padding-right: 10%;
}

#form-id,
#form-reg {
  display: flex;
  flex-direction: column;
}

#form-id input,
#form-reg input {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

#form-id input::placeholder,
#form-reg input::placeholder {
  padding: 8px 5px;
}

#form-id .button,
#form-reg .button {
  padding: 10px 30px;
}

.button-close {
  padding: 5px 10px;
  margin-left: 90%;
}

/* REGISTER MODAL */
#warn,
#warn-price {
  display: none;
  color: red;
}

/* BOTTOM */
.bottom-row {
  background-color: #000;
  height: 85px;
}
